
# http://stackoverflow.com/questions/2815553/what-gitignore-i-should-use-with-qt-projects-qt-creator

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h

# .log files (usually created by QtTest - thanks to VestniK)
*.log

# Windows-specific files
Thumbs.db

# Editors temporary files 
*~

VPN/Evan/debug/
VPN/Evan/release/
VPN/Evan/Evan.exe
